/**
 * Globals
 */
* {
	font-family: Arial;
}

a {
	text-decoration: none;
	color: inherit;
}
a.current {
	color: #639;
	border-bottom: dotted 1px #639;
}

/**
 * Site container
 */
#container {
	width: 875px;
	margin: 0 auto;
}

/**
 * Heading
 */
#header h1 {
	float: right;
	height: 40px;
	width: 875px;
	overflow: hidden;
	text-indent: -9999px;
	background: transparent url(../img/logo.png) right top no-repeat;
	margin: 1em 0;
}

/**
 * Navigation
 */
#navigation {
	float: right;
}
#navigation li {
	float: left;
	padding-left: 15px;
}

/**
 * Page Title
 */
h2 {
	font-size: 2em;
	margin-bottom: 0.5em;
}

/**
 * Users and Projects Index
 */
.user-summary,
.project-summary {
	position: relative;
	width: 200px;
	float: left;
	padding-right: 25px;
	padding-bottom: 25px;
	overflow: hidden;
}
.user-summary:nth-child(4n+1) {
	padding-right: 0;
}
.main-image,
.display-name,
.display-name a {
	display: block;
	width: 200px;
	height: 200px;
}
.user-summary .main-image {
	background-color: #639;
}
.project-summary .main-image {
	background-color: #ccc;
}
.display-name {
	position: absolute;
	top: 0;
	background: transparent url('../img/gravatar-overlay.png') left top no-repeat;
}
.display-name a {
	color: #ccc;
	font-size: 1.5em;
	padding-top: 172px;
	padding-left: 10px;
	font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
	font-weight: normal;
}
.user-summary .submission-thumb {
	border-top: solid #fff 1px;
	height: 60px;
	width: 200px;
	background-color: #999;
}
.project-summary .user-thumb {
	float: left;
	border-top: solid #fff 1px;
	border-left: solid #fff 1px;
	height: 65px;
	width: 65px;
	background-color: #639;
}